Repository rage/concepts, pull requests merged in 2019-11, with the labels that each got.

#389 Fix missing field in optimistic response tags when creating or editing course in mapper
  frontend/src/dialogs/course/useCreateCourseDialog.js
  frontend/src/dialogs/course/useEditCourseDialog.js
Labels: mapper view

#388 Make mapper links more transparent
  frontend/src/views/mapper/MapperLinks.js
  frontend/src/views/mapper/concept/ConceptLink.js
Labels: mapper view

#392 Add secondary focus ref to create course themes guide step
  frontend/src/views/manager/CourseEditor.js
Labels: enhancement, mapper view, user guide

#393 Move heatmap update object recursion functions into a library
  backend/src/resolvers/Mutation/ConceptLink.js
  frontend/src/lib/objectRecursion.js
  frontend/src/views/heatmap/HeatmapView.js
Labels: internal

#396 Stop using menu for manager list buttons
  frontend/src/views/manager/ConceptListItem.js
  frontend/src/views/manager/CourseListItem.js
Labels: enhancement, manager view

#399 Remove tooltip animations
  frontend/src/views/heatmap/HeatmapView.js
  frontend/src/views/manager/ConceptListItem.js
  frontend/src/views/mapper/concept/Concept.js
Labels: enhancement, manager view, mapper view, other ui

#402 Subscriptions to Project View
  backend/schema/extra.graphql
  backend/schema/generated/schema.graphql
  backend/src/resolvers/Mutation/Merge.js
  backend/src/resolvers/Mutation/Workspace.js
  backend/src/resolvers/Subscription/ProjectWorkspace.js
  backend/src/resolvers/Subscription/Workspace.js
  backend/src/resolvers/Subscription/config/channels.js
  backend/src/resolvers/Subscription/index.js
  backend/src/resolvers/Type/Workspace.js
  frontend/src/graphql/Subscription/ProjectWorkspace.js
  frontend/src/graphql/Subscription/index.js
  frontend/src/views/project/ProjectView.js
Labels: enhancement, other ui

#404 Fix workspace creation bug
  backend/schema/extra.graphql
  backend/schema/generated/schema.graphql
  backend/src/resolvers/Mutation/Workspace.js
  frontend/src/dialogs/workspace/useCreateWorkspaceDialog.js
  frontend/src/graphql/Mutation/Workspace.js
Labels: bug

#406 Fix 3rd party login buttons not showing up
  frontend/src/views/login/LoginView.js
Labels: bug, other ui

#409 Add number of concepts to heatmap cells
  frontend/src/views/heatmap/HeatmapView.js
Labels: other ui

#410 Fix crash on joining project
  frontend/src/dialogs/intro/IntroDialog.js
Labels: bug

#411 Graph subscriptions
  frontend/src/apollo/update/conceptLink.js
  frontend/src/apollo/useUpdatingSubscription.js
  frontend/src/graphql/Fragment/Workspace.js
  frontend/src/views/graph/CytoGraphView.js
  frontend/src/views/heatmap/HeatmapView.js
Labels: graph view

#414 Points export
  backend/schema/extra.graphql
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/schema.graphql
  backend/src/controllers/exportAPI.js
  backend/src/controllers/pointsAPI.js
  backend/src/index.js
  backend/src/middleware/authentication.js
  backend/src/resolvers/Mutation/Authentication.js
  backend/src/resolvers/Query/index.js
  backend/src/util/restAuth.js
  frontend/src/components/BaseWorkspaceList.js
  frontend/src/components/WorkspaceNavBar.js
  frontend/src/graphql/Mutation/Authentication.js
  frontend/src/graphql/Query/Port.js
  frontend/src/graphql/Query/index.js
  frontend/src/views/project/PointGroupsView.js
  frontend/src/views/project/ProjectView.js
Labels: backend

#426 Show arrays properly in internal user info
  frontend/src/views/user/UserView.js
Labels: enhancement, other ui

#427 Make most graphql return values required
  backend/schema/datamodel.prisma
  backend/schema/extra.graphql
  backend/schema/generated/schema.graphql
  backend/src/resolvers/Mutation/Sharing.js
  backend/src/resolvers/Query/Workspace.js
Labels: internal

#430 Exclude order metadata fields from export output
  backend/src/controllers/exportAPI.js
Labels: backend, internal

#428 Subscription permissions
  backend/src/resolvers/Mutation/CourseLink.js
  backend/src/resolvers/Subscription/Concept.js
  backend/src/resolvers/Subscription/ConceptLink.js
  backend/src/resolvers/Subscription/Course.js
  backend/src/resolvers/Subscription/CourseLink.js
  backend/src/resolvers/Subscription/Member.js
  backend/src/resolvers/Subscription/ProjectWorkspace.js
  backend/src/resolvers/Subscription/Workspace.js
  backend/src/util/accessControl.js
Labels: backend, internal

#431 Include tags when cloning workspace
  backend/src/resolvers/Mutation/Workspace.js
Labels: bug, internal

#432 Add created at and updated at
  backend/schema/datamodel.prisma
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
Labels: backend, enhancement, internal

#443 Improve concept filtering
  frontend/src/views/manager/ConceptList.js
  frontend/src/views/manager/groupConcepts.js
  frontend/src/views/manager/search.js
Labels: manager view

#444 Point groups improvement
  frontend/src/components/EditableTable.js
  frontend/src/views/project/PointGroupsView.js
Labels: other ui

#445 Tooltips to disabled button in point group view
  frontend/src/components/EditableTable.js
  frontend/src/views/project/PointGroupsView.js
Labels: other ui

#447 Add some tooltips to point groups view
  frontend/src/components/ProjectNavBar.js
  frontend/src/views/project/PointGroupsView.js
Labels: enhancement, project view

#446 Learning objectives into datamodel
  backend/schema/datamodel.prisma
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/index.js
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/src/resolvers/Query/Objective.js
  backend/src/resolvers/Type/Concept.js
  backend/src/resolvers/Type/Resource.js
  backend/src/resolvers/Type/URL.js
  backend/src/resolvers/Type/index.js
  docker-compose.yml
Labels: backend, enhancement

#449 Add type resolvers
  backend/src/resolvers/Mutation/Import.js
  backend/src/resolvers/Mutation/Merge.js
  backend/src/resolvers/Mutation/PointGroup.js
  backend/src/resolvers/Mutation/Project.js
  backend/src/resolvers/Mutation/Workspace.js
  backend/src/resolvers/Type/Completion.js
  backend/src/resolvers/Type/Concept.js
  backend/src/resolvers/Type/ConceptObjectiveLink.js
  backend/src/resolvers/Type/Objective.js
  backend/src/resolvers/Type/ObjectiveLink.js
  backend/src/resolvers/Type/PointGroup.js
  backend/src/resolvers/Type/Project.js
  backend/src/resolvers/Type/Workspace.js
  backend/src/resolvers/Type/index.js
  backend/src/util/createUser.js
Labels: backend, internal

#451 Add objective resolvers and subscriptions
  backend/schema/datamodel.prisma
  backend/schema/extra.graphql
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/Objective.js
  backend/src/resolvers/Mutation/index.js
  backend/src/resolvers/Query/Objective.js
  backend/src/resolvers/Subscription/Objective.js
  backend/src/resolvers/Subscription/config/channels.js
  backend/src/resolvers/Subscription/index.js
  backend/src/resolvers/Type/Workspace.js
Labels: backend, enhancement

#450 Add generic link mutations
  backend/schema/extra.graphql
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/schema.graphql
  backend/src/resolvers/Mutation/BaseLink.js
  backend/src/resolvers/Mutation/ConceptLink.js
  backend/src/resolvers/Mutation/ConceptObjectiveLink.js
  backend/src/resolvers/Mutation/CourseLink.js
  backend/src/resolvers/Mutation/ObjectiveLink.js
  backend/src/resolvers/Mutation/index.js
  backend/src/resolvers/Subscription/config/channels.js
Labels: backend, enhancement

#452 Make subscription resolvers generic
  backend/src/resolvers/Subscription/Concept.js
  backend/src/resolvers/Subscription/ConceptLink.js
  backend/src/resolvers/Subscription/Course.js
  backend/src/resolvers/Subscription/CourseLink.js
  backend/src/resolvers/Subscription/Member.js
  backend/src/resolvers/Subscription/Objective.js
  backend/src/resolvers/Subscription/ProjectWorkspace.js
  backend/src/resolvers/Subscription/Workspace.js
  backend/src/resolvers/Subscription/subscriptionUtil.js
Labels: backend, enhancement

#454 Merge subscription resolvers into a single file
  backend/src/resolvers/Mutation/BaseLink.js
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/Course.js
  backend/src/resolvers/Mutation/Merge.js
  backend/src/resolvers/Mutation/Objective.js
  backend/src/resolvers/Mutation/Sharing.js
  backend/src/resolvers/Mutation/Workspace.js
  backend/src/resolvers/Subscription/Concept.js
  backend/src/resolvers/Subscription/ConceptLink.js
  backend/src/resolvers/Subscription/Course.js
  backend/src/resolvers/Subscription/CourseLink.js
  backend/src/resolvers/Subscription/Member.js
  backend/src/resolvers/Subscription/Objective.js
  backend/src/resolvers/Subscription/ProjectWorkspace.js
  backend/src/resolvers/Subscription/Workspace.js
  backend/src/resolvers/Subscription/channels.js
  backend/src/resolvers/Subscription/config/index.js
  backend/src/resolvers/Subscription/index.js
  backend/src/resolvers/Subscription/pubsub.js
  backend/src/resolvers/Subscription/subscriptionUtil.js
  backend/src/resolvers/Type/index.js
  backend/src/resolvers/index.js
Labels: backend, enhancement, internal

#456 Fixes to mutations
  backend/src/resolvers/Mutation/Workspace.js
Labels: bug

#457 Fix some subscriptions not working
  backend/src/util/titleCase.js
Labels: backend, bug, internal
