Repository rage/concepts, pull requests merged in 2019-12, with the labels that each got.

#462 Add tabs to manager view
  frontend/src/views/manager/ConceptEditor.js
  frontend/src/views/manager/ConceptList.js
  frontend/src/views/manager/WorkspaceManagementView.js
  frontend/src/views/manager/editorStyles.js
Labels: enhancement, manager view

#464 Add separate order array for objectives
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/controllers/exportAPI.js
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/Course.js
  backend/src/resolvers/Mutation/Import.js
  backend/src/resolvers/Mutation/Workspace.js
  frontend/src/dialogs/concept/useCreateConceptDialog.js
  frontend/src/dialogs/course/useCreateCourseDialog.js
  frontend/src/graphql/Fragment/Course.js
  frontend/src/graphql/Fragment/CourseLink.js
  frontend/src/graphql/Fragment/Workspace.js
  frontend/src/graphql/Mutation/Course.js
  frontend/src/graphql/Query/Course.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/manager/ConceptList.js
Labels: backend, enhancement, internal

#463 Add concept mapper view
  backend/src/resolvers/Mutation/Concept.js
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/BaseWorkspaceList.js
  frontend/src/components/NavBar.js
  frontend/src/components/WorkspaceNavBar.js
  frontend/src/dialogs/concept/useEditConceptDialog.js
  frontend/src/graphql/Query/Course.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/ConceptNode.js
  frontend/src/views/conceptmapper/CourseList.js
  frontend/src/views/conceptmapper/ObjectiveList.js
  frontend/src/views/conceptmapper/ObjectiveNode.js
  frontend/src/views/coursemapper/concept/ConceptLink.js
  frontend/src/views/coursemapper/redirect/MapperRedirectView.js
  frontend/src/views/members/MembersView.js
  frontend/yarn.lock
Labels: enhancement, frontend, other ui

#473 Set course mapper to use objectives instead of concepts
  frontend/src/views/coursemapper/ActiveCourse.js
  frontend/src/views/coursemapper/Course.js
Labels: mapper view

#474 Concept menu actions
  backend/schema/generated/schema.graphql
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Subscription/channels.js
  backend/src/resolvers/Subscription/index.js
  backend/src/util/python.js
  frontend/src/apollo/update/concept.js
  frontend/src/apollo/useUpdatingSubscription.js
  frontend/src/graphql/Mutation/Concept.js
  frontend/src/graphql/Subscription/Concept.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/ConceptNode.js
  frontend/src/views/manager/ConceptList.js
Labels: concept mapper view

#475 Distinguish objectives from concepts in concept mapper
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/ConceptNode.js
Labels: concept mapper view, enhancement

#476 Concept mapper toolbar
  backend/src/resolvers/Mutation/Concept.js
  frontend/src/lib/useCachedMutation.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/ConceptNode.js
  frontend/src/views/conceptmapper/CourseList.js
Labels: concept mapper view
