Repository rage/concepts, pull requests merged in 2020-01, with the labels that each got.

#482 Update dependencies
  backend/package.json
  backend/yarn.lock
  frontend/yarn.lock
Labels: dependencies

#480 Concept mapper background context
  frontend/src/dialogs/concept/useCreateConceptDialog.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/ConceptNode.js
  frontend/src/views/coursemapper/ActiveCourse.js
  frontend/src/views/coursemapper/Course.js
Labels: concept mapper view

#483 Dropdown button
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/ConceptNode.js
Labels: concept mapper view

#484 Sort concepts to ensure zip works
  backend/src/resolvers/Mutation/Concept.js
Labels: backend, bug

#486 Confirm before deleting concepts in concept mapper
  frontend/src/views/conceptmapper/ConceptMapperView.js
Labels: concept mapper view, enhancement, frontend

#485 Store absolute zoom origin instead of viewport-relative position
  frontend/src/views/conceptmapper/ConceptMapperView.js
Labels: concept mapper view, enhancement, frontend

#487 Drop JWT for access tokens
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/index.js
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/controllers/loginAPI.js
  backend/src/middleware/authentication.js
  backend/src/resolvers/Mutation/Authentication.js
  backend/src/util/createUser.js
  backend/src/util/restAuth.js
  frontend/src/graphql/Mutation/Authentication.js
  frontend/src/lib/authentication/index.js
Labels: backend, enhancement

#488 Common concepts backend
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/Workspace.js
Labels: backend, enhancement

#489 Add alert dialog system
  backend/src/resolvers/Mutation/tagUtils.js
  frontend/src/Wrapper.js
  frontend/src/components/BaseWorkspaceList.js
  frontend/src/components/InfoBox.js
  frontend/src/components/ProjectNavBar.js
  frontend/src/components/WorkspaceNavBar.js
  frontend/src/dialogs/Dialog.js
  frontend/src/dialogs/alert/Alert.js
  frontend/src/dialogs/alert/AlertProvider.js
  frontend/src/dialogs/alert/index.js
  frontend/src/dialogs/intro/index.js
  frontend/src/lib/authentication/google.js
  frontend/src/lib/authentication/haka.js
  frontend/src/lib/deferred.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/coursemapper/CourseTray.js
  frontend/src/views/coursemapper/concept/Concept.js
  frontend/src/views/home/ProjectList.js
  frontend/src/views/manager/ConceptListItem.js
  frontend/src/views/manager/CourseListItem.js
  frontend/src/views/members/MembersView.js
  frontend/src/views/porting/PortView.js
  frontend/src/views/user/UserView.js
Labels: enhancement, frontend

#494 Minor concept mapper UX improvements
  frontend/src/views/conceptmapper/ConceptMapperView.js
Labels: concept mapper view, enhancement

#497 Add slider for zooming in concept mapper
  frontend/src/views/conceptmapper/ConceptMapperView.js
Labels: concept mapper view, enhancement

#500 Improve cleanup mutation
  backend/schema/generated/schema.graphql
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Admin.js
Labels: backend, enhancement

#491 Common concepts frontend
  backend/schema/generated/schema.graphql
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Type/Concept.js
  backend/src/resolvers/Type/Workspace.js
  frontend/package.json
  frontend/snowpack/scripts/docker-init.sh
  frontend/src/apollo/update/concept.js
  frontend/src/components/NavBar.js
  frontend/src/graphql/Mutation/Concept.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/manager/ConceptEditor.js
  frontend/src/views/manager/ConceptList.js
  frontend/src/views/manager/ConceptListItem.js
  frontend/src/views/manager/CourseList.js
  frontend/src/views/manager/WorkspaceManagementView.js
  frontend/yarn.lock
Labels: enhancement, frontend, manager view

#501 Add message when concept/course list has no items
  backend/schema/generated/schema.graphql
  frontend/src/views/manager/ConceptList.js
  frontend/src/views/manager/CourseList.js
Labels: enhancement, frontend, manager view

#493 Goals for workspaces to backend
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/index.js
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/GoalLink.js
  backend/src/resolvers/Mutation/index.js
  backend/src/resolvers/Subscription/channels.js
  backend/src/resolvers/Subscription/index.js
  backend/src/resolvers/Type/GoalLink.js
  backend/src/resolvers/Type/Workspace.js
  backend/src/resolvers/Type/index.js
  frontend/src/views/coursemapper/Course.js
Labels: backend

#502 Use babel-watch instead of nodemon with babel-node
  backend/package.json
  backend/src/util/googleAuth.js
  backend/yarn.lock
Labels: backend, internal

#507 Types for goals
  backend/src/resolvers/Mutation/Workspace.js
  backend/src/static/goalTypes.json
  frontend/src/views/manager/ConceptList.js
Labels: backend, enhancement, frontend

#508 Hide members
  frontend/src/components/WorkspaceNavBar.js
Labels: enhancement, frontend, manager view, other ui

#510 Fix creating common concepts
  backend/src/resolvers/Mutation/Concept.js
Labels: backend, bug
