Repository rage/concepts, pull requests merged in 2020-03, with the labels that each got.

#538 Add button to clone project template directly
  frontend/src/views/project/UserWorkspaceList.js
Labels: enhancement, frontend, project view

#539 Add option to promote merged workspace to a template
  backend/schema/generated/schema.graphql
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Project.js
  frontend/src/components/BaseWorkspaceList.js
  frontend/src/graphql/Mutation/Project.js
  frontend/src/views/project/MergeList.js
Labels: enhancement, frontend, project view

#540 Fix missing fields when cloning
  backend/src/resolvers/Mutation/Workspace.js
Labels: backend, bug

#541 Fix missing data when merging
  backend/src/resolvers/Mutation/Merge.js
Labels: backend, bug

#543 Fix bug in cloning workspaces with common concepts
  backend/src/resolvers/Mutation/Workspace.js
Labels: backend, bug

#537 Statistics to project view
  backend/schema/generated/schema.graphql
  backend/schema/source/extra.prisma
  backend/src/resolvers/Query/Project.js
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/EditableTable.js
  frontend/src/components/NavBar.js
  frontend/src/components/ProjectNavBar.js
  frontend/src/graphql/Query/Project.js
  frontend/src/views/statistics/StatisticsView.js
  frontend/yarn.lock
Labels: enhancement

#552 Update deps
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/snowpack/scripts/babel.sh
  frontend/yarn.lock
Labels: backend

#553 Concept mapper layout
  frontend/package.json
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/yarn.lock
Labels: concept mapper view, enhancement, frontend

#555 Fix snowpack scripts
  frontend/package.json
  frontend/snowpack/babel.config.json
  frontend/snowpack/scripts/babel.sh
  frontend/snowpack/scripts/docker-init.sh
Labels: bug, internal

#556 Statistics-view fix
  backend/src/resolvers/Query/Project.js
  frontend/src/views/statistics/StatisticsView.js
Labels: bug

#545 Fix things in import/export
  backend/src/controllers/exportAPI.js
  backend/src/resolvers/Mutation/Import.js
Labels: backend

#558 Add tooltip for concept mapper nodes
  frontend/src/views/conceptmapper/ConceptNode.js
Labels: concept mapper view, enhancement, frontend

#559 Temporal fix
  frontend/src/views/goals/GoalView.js
Labels: bug

#561 Improve graph layout and add cycle detection
  frontend/src/views/graph/GraphView.js
  frontend/src/views/graph/tarjan.js
Labels: enhancement, frontend, graph view

#562 Frontend guide
  README.md
  frontend/public/res/preview-graph.png
  frontend/public/res/preview-heatmap.png
  frontend/public/res/preview-manager.png
  frontend/public/res/preview-mapper.png
  frontend/src/views/home/HomeView.js
  frontend/src/views/home/components/IntroductionCard.js
Labels: enhancement

#565 Show cycle count at top of graph view
  frontend/src/views/graph/GraphView.js
Labels: enhancement, frontend, graph view
