Repository rage/concepts, pull requests merged in 2020-02, with the labels that each got.

#509 Goals frontend
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/controllers/exportAPI.js
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/Workspace.js
  backend/src/resolvers/Type/Course.js
  backend/src/resolvers/Type/Workspace.js
  frontend/src/App.js
  frontend/src/apollo/update/concept.js
  frontend/src/apollo/update/goalLink.js
  frontend/src/apollo/update/index.js
  frontend/src/components/ConceptTooltipContent.js
  frontend/src/components/NavBar.js
  frontend/src/components/WorkspaceNavBar.js
  frontend/src/graphql/Fragment/Concept.js
  frontend/src/graphql/Mutation/GoalLink.js
  frontend/src/graphql/Mutation/index.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/coursemapper/Course.js
  frontend/src/views/coursemapper/MapperLinks.js
  frontend/src/views/goals/CourseItem.js
  frontend/src/views/goals/Courses.js
  frontend/src/views/goals/GoalItem.js
  frontend/src/views/goals/GoalView.js
  frontend/src/views/goals/Goals.js
  frontend/src/views/goals/styles.js
  frontend/src/views/manager/ConceptEditor.js
  frontend/src/views/manager/CourseEditor.js
Labels: frontend

#515 Fix grouping
  frontend/src/views/manager/ConceptList.js
Labels: bug

#520 Fix mistakes in user merge
  backend/src/resolvers/Mutation/Authentication.js
Labels: backend, bug

#519 Text for links
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/BaseLink.js
  backend/src/resolvers/Mutation/ConceptLink.js
  backend/src/resolvers/Mutation/GoalLink.js
  backend/src/resolvers/Type/ConceptLink.js
  backend/src/resolvers/Type/CourseLink.js
  backend/src/resolvers/Type/GoalLink.js
  frontend/public/res/index.css
  frontend/src/graphql/Fragment/Concept.js
  frontend/src/graphql/Fragment/ConceptLink.js
  frontend/src/graphql/Fragment/CourseLink.js
  frontend/src/graphql/Mutation/ConceptLink.js
  frontend/src/graphql/Mutation/CourseLink.js
  frontend/src/graphql/Mutation/GoalLink.js
  frontend/src/graphql/Query/Course.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/coursemapper/MapperLinks.js
  frontend/src/views/coursemapper/concept/ConceptLink.js
  frontend/src/views/goals/GoalView.js
Labels: concept mapper view, enhancement, mapper view

#521 Positions to export and import
  backend/src/controllers/exportAPI.js
  backend/src/resolvers/Mutation/Import.js
  backend/src/static/port.schema.json
Labels: enhancement

#522 Concept mapper zoom fix
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/conceptmapper/CourseList.js
Labels: bug

#527 Link weight UI
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/BaseLink.js
  backend/src/resolvers/Mutation/Concept.js
  backend/src/resolvers/Mutation/GoalLink.js
  frontend/src/graphql/Fragment/Concept.js
  frontend/src/graphql/Fragment/ConceptLink.js
  frontend/src/graphql/Fragment/CourseLink.js
  frontend/src/graphql/Mutation/ConceptLink.js
  frontend/src/graphql/Mutation/CourseLink.js
  frontend/src/graphql/Query/Course.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/coursemapper/CourseContainer.js
  frontend/src/views/coursemapper/MapperLinks.js
  frontend/src/views/coursemapper/concept/ConceptLink.js
Labels: concept mapper view, enhancement, frontend, mapper view

#528 Add some space between goal view halfs
  frontend/src/views/goals/Courses.js
  frontend/src/views/goals/GoalView.js
  frontend/src/views/goals/Goals.js
  frontend/src/views/goals/styles.js
Labels: enhancement, frontend

#529 Add tooltips for link weight change buttons
  frontend/src/views/coursemapper/MapperLinks.js
Labels: enhancement, frontend

#530 Switch to @apollo/react-hooks
  frontend/package.json
  frontend/src/Wrapper.js
  frontend/src/apollo/useUpdatingSubscription.js
  frontend/src/components/NavBar.js
  frontend/src/components/ProjectNavBar.js
  frontend/src/components/WorkspaceNavBar.js
  frontend/src/dialogs/Dialog.js
  frontend/src/dialogs/concept/useCreateConceptDialog.js
  frontend/src/dialogs/concept/useEditConceptDialog.js
  frontend/src/dialogs/course/useCreateCourseDialog.js
  frontend/src/dialogs/course/useEditCourseDialog.js
  frontend/src/dialogs/intro/IntroDialog.js
  frontend/src/dialogs/project/useCreateProjectDialog.js
  frontend/src/dialogs/project/useCreateTemplateDialog.js
  frontend/src/dialogs/project/useEditProjectDialog.js
  frontend/src/dialogs/project/useEditTemplateDialog.js
  frontend/src/dialogs/sharing/useShareDialog.js
  frontend/src/dialogs/workspace/WorkspaceCreationActions.js
  frontend/src/dialogs/workspace/useCreateWorkspaceDialog.js
  frontend/src/dialogs/workspace/useEditWorkspaceDialog.js
  frontend/src/lib/useCachedMutation.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/coursemapper/Course.js
  frontend/src/views/coursemapper/CourseContainer.js
  frontend/src/views/coursemapper/CourseMapperView.js
  frontend/src/views/coursemapper/CourseTray.js
  frontend/src/views/coursemapper/MapperLinks.js
  frontend/src/views/coursemapper/concept/Concept.js
  frontend/src/views/coursemapper/redirect/CreateCourseForm.js
  frontend/src/views/coursemapper/redirect/MapperRedirectView.js
  frontend/src/views/goals/Courses.js
  frontend/src/views/goals/GoalView.js
  frontend/src/views/goals/Goals.js
  frontend/src/views/heatmap/HeatmapView.js
  frontend/src/views/home/ProjectList.js
  frontend/src/views/home/UserViewContent.js
  frontend/src/views/home/WorkspaceList.js
  frontend/src/views/join/JoinView.js
  frontend/src/views/login/LoginView.js
  frontend/src/views/manager/MergeDialog.js
  frontend/src/views/manager/WorkspaceManagementView.js
  frontend/src/views/members/MembersView.js
  frontend/src/views/porting/PortView.js
  frontend/src/views/project/CloneView.js
  frontend/src/views/project/MergeList.js
  frontend/src/views/project/PointGroupsView.js
  frontend/src/views/project/ProjectView.js
  frontend/src/views/project/TemplateList.js
  frontend/src/views/user/UserView.js
  frontend/yarn.lock
Labels: frontend, internal

#531 Fix things in link creation
  frontend/src/views/coursemapper/MapperLinks.js
  frontend/src/views/coursemapper/concept/Concept.js
  frontend/src/views/coursemapper/concept/ConceptLink.js
Labels: enhancement, frontend

#532 Improve link add UX
  frontend/src/components/ConceptLink.js
  frontend/src/lib/generateTempId.js
  frontend/src/views/conceptmapper/ConceptMapperView.js
  frontend/src/views/coursemapper/ActiveCourse.js
  frontend/src/views/coursemapper/Concept.js
  frontend/src/views/coursemapper/Course.js
  frontend/src/views/coursemapper/MapperLinks.js
  frontend/src/views/coursemapper/concept/index.js
  frontend/src/views/goals/GoalView.js
Labels: enhancement, frontend
