Repository rage/concepts, pull requests merged in 2020-04, with the labels that each got.

#566 Delete menu option for cloned workspaces
  frontend/src/components/BaseWorkspaceList.js
  frontend/src/views/project/UserWorkspaceList.js
Labels: enhancement

#567 Improve user workspace list
  backend/src/resolvers/Type/Workspace.js
  frontend/src/components/BaseWorkspaceList.js
  frontend/src/graphql/Mutation/Workspace.js
  frontend/src/graphql/Query/Project.js
  frontend/src/views/project/ProjectView.js
  frontend/src/views/project/UserWorkspaceList.js
Labels: enhancement, frontend, project view

#568 Fix projects without active templates
  frontend/src/components/BaseWorkspaceList.js
Labels: bug

#569 Update dependencies
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: internal

#571 Add boxes around cycles in graph view
  frontend/src/views/graph/GraphView.js
Labels: enhancement, frontend, graph view

#570 Course menu order
  backend/src/controllers/exportAPI.js
  backend/src/util/ordering.js
  frontend/src/views/coursemapper/ActiveCourse.js
  frontend/src/views/coursemapper/Course.js
  frontend/src/views/manager/ConceptList.js
  frontend/src/views/manager/CourseList.js
Labels: enhancement

#574 Add description and filtering for courses
  backend/schema/generated/prisma-client/index.d.ts
  backend/schema/generated/prisma-client/prisma-schema.js
  backend/schema/generated/prisma-client/prisma.graphql
  backend/schema/generated/schema.graphql
  backend/schema/source/datamodel.prisma
  backend/schema/source/extra.prisma
  backend/src/resolvers/Mutation/Course.js
  frontend/src/graphql/Fragment/Course.js
  frontend/src/graphql/Fragment/CourseLink.js
  frontend/src/graphql/Mutation/Course.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/manager/ConceptList.js
  frontend/src/views/manager/CourseEditor.js
  frontend/src/views/manager/CourseList.js
  frontend/src/views/manager/search.js
Labels: enhancement, manager view

#575 Cut off lines to prevent overlap with headers/forms
  frontend/src/components/DividerWithText.js
  frontend/src/views/coursemapper/CourseMapperView.js
  frontend/src/views/goals/Courses.js
  frontend/src/views/goals/GoalView.js
  frontend/src/views/goals/Goals.js
  frontend/src/views/goals/styles.js
  frontend/src/views/manager/ConceptEditor.js
  frontend/src/views/manager/CourseEditor.js
Labels: enhancement, frontend, mapper view

#577 add minor fixes
  backend/schema/source/datamodel.prisma
  backend/src/resolvers/Mutation/Workspace.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/home/WorkspaceList.js
Labels: other ui

#576 Add topological sorting for courses
  backend/src/util/ordering.js
  frontend/src/dialogs/course/useCreateCourseDialog.js
  frontend/src/graphql/Fragment/Course.js
  frontend/src/graphql/Query/Workspace.js
  frontend/src/views/coursemapper/CourseTray.js
  frontend/src/views/manager/CourseList.js
Labels: enhancement, frontend, manager view

#586 Add tooltip for courses in manager view
  frontend/src/components/ConceptTooltipContent.js
  frontend/src/views/manager/CourseListItem.js
Labels: enhancement, frontend, manager view

#585 Add staff permissions when creating faculty/staff user from Haka login
  backend/src/controllers/loginAPI.js
Labels: backend, enhancement
